<ul id="navigation">
    <li <% if(currentpage=="Home" ){%> class="selected" <%}%>>
        <a href="index.html">Home</a>
    </li>
    <li  <% if(currentpage=="About" ){%> class="selected" <%}%> >
        <a href="about.html">About</a>
    </li>
    <li class="menu <% if(currentpage=="projects" ){%> selected <%}%> " >
        <a href="projects.html">Projects</a>
        <ul class="primary">
            <li>
                <a href="proj1.html">proj 1</a>
            </li>
        </ul>
    </li>
    <li class="menu">
        <a href="blog.html">Blog</a>
        <ul class="secondary">
            <li>
                <a href="singlepost.html">Single post</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="contact.html">Contact</a>
    </li>
</ul>